[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
numpy = "*"
tensorflow = "==2.13.0"
confluent-kafka = "*"
pydantic = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
